{% extends "layouts/layout.html" %}
{% block content %}

<div class="row">
  <div class="col col-11-24">
    <div class="container container-auth">
      <h3 class="text-muted">PROJECT</h3>
      <h1 class="auth-title">LOGIN</h1>
      <div class="container-fluid forum-auth">
        <form method="POST" action="">
          {{ form.hidden_tag() }}
        
          <div class="input-group">
            <p class="input-label">{{ form.username.label }}</p>
            {% if form.username.errors %}
              {{ form.username(class="input invalid") }}
              {% for error in form.username.errors %}
                <span class="form-error">{{ error }}</span>
              {% endfor %}
            {% else %}
              {{ form.username(class="input") }}
            {% endif %}
          </div>
          <div class="input-group">
            <p class="input-label">{{ form.password.label }}</p>
            {% if form.password.errors %}
              {{ form.password(class="input invalid") }}
              {% for error in form.password.errors %}
                <span class="form-error">{{ error }}</span>
              {% endfor %}
            {% else %}
              {{ form.password(class="input") }}
            {% endif %}
          </div>
          <div class="">
            {{ form.remember_me(class="input-boolean") }}
            <p class="input-boolean-label">{{ form.remember_me.label }}</p>

            <p class="forgot-password"><a href="#">Forgot your password?</a></p>
            <div style="clear: both;"></div>
          </div>
          <div class="input-group">
            {% if form.login.errors %}
              {{ form.login(class="submit-button invalid") }}
              {% for error in form.login.errors %}
                <span class="form-error">{{ error }}</span>
              {% endfor %}
            {% else %}
              {{ form.login(class="submit-button") }}
            {% endif %}
          </div>
        </form>  
      </div>
    </div>
  </div>
  <div class="col col-13-24">
    <div class="auth-right">
      <div class="auth-right-inner">
        <h1 class="display-1">Welcome</h1>
        <p>Don't have an account? Create your account now, it takes less then a minute.</p>
        <a href="{{ url_for('auth.register') }}"><button class="register-button">Register</button></a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}